body {
  font-family: Arial, sans-serif;
  background-color: #fafafa;
  padding: 30px;
}

.container {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
}

#resultados {
  margin-top: 20px;
}

body.pagina-musica {
    font-family: 'Georgia', serif;
    background: #463f78;
    color: #222;
    margin: 0;
    padding: 20px;
}

.layout {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    max-width: 1200px;
    margin: auto;
}

.container-musica {
    flex: 0 0 66%;
    padding: 20px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}


.titulo-musica {
    flex: 2;
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 20px;
    color: #6a1b9a;
}

.conteudo{
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

.letra {
    flex: 2;
    line-height: 1.3;
    font-size: 1.1rem;
}

.letra p {
    margin: 0 0 10px 0;
}

.player {
    flex: 0 0 33%;       /* garante 1/3 da tela */
    position: sticky;
    top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.player iframe {
    width: 100%;          /* vídeo respeita os 33% */
    height: auto;
    aspect-ratio: 16/9;   /* mantém proporção */
    border-radius: 8px;
}

.botao-voltar {
    display: inline-block;
    text-decoration: none;
    padding: 10px 16px;
    background: #6a1b9a;
    color: #fff;
    border-radius: 6px;
    transition: background 0.3s;
}

.botao-voltar:hover {
    background: #4a148c;
}

.spotify-player {
  flex: 1;
  position: sticky;
  top: 20px;
  align-self: flex-start;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  border-radius: 12px;
  overflow: hidden;
}
