<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{{ titulo }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="pagina-musica">
    
    <div class = "layout">

        <div class="container">
        <h1 class="titulo-musica">{{ titulo }}</h1>
            <div class="letra">
               {% for linha in letra.splitlines() %}
                    <p>{{ linha }}</p>
                {% endfor %}
            </div>
        <a href="{{ url_for('index') }}" class="botao-voltar">⬅ Voltar para a busca</a>
        </div>

        {% if video_id %}
            <div class="player">
                <iframe width="100%" height="315"
                    src="https://www.youtube.com/embed/{{ video_id }}"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
        {% endif %}
    </div>
</body>
</html>
